@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.container {
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvh;
  overflow: scroll;
  background-color: #071f36;
  background: hsla(333, 100%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  /* background-color: aqua; */
  width: 90%;
  height: 98%;
}

.main {
  /* background-color: #071F36; */
  color: whitesmoke;
  grid-column: span 5;
  grid-row: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: url(./assets/images/img.png); */

  border-radius: 10px;

  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.dailyStats {
  grid-column: span 3;
  grid-row: span 3;
  /* background-color: #071f36; */
  border-radius: 10px;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.futureDays {
  grid-row: span 3;
  /* background-color: #071f36; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.humidity,
.visibility,
.pressure {
  /* background-color: #071f36; */
  text-align: center;
  border-radius: 10px;
  color: whitesmoke;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  position: relative;
}

.logo {
  /* background-color: bisque; */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1.5rem;
  display: grid;
  place-content: center;
  font-size: 3rem;
  color: black;
}

.temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dayCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #071f36;
  height: 33%;
  /* border-radius: 10px; */
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.12);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.dayCard:nth-child(2) {
  border-bottom: 3px whitesmoke solid;
  border-top: 3px whitesmoke solid;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search button {
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
}

.search ul {
  position: absolute;
  font-size: 1rem;
  background-color: floralwhite;
  color: black;
  text-align: center;
  list-style: none;
  margin-top: 150px;
  width: 400px;
  border-radius: 10px;
  line-height: 1.7;
}

.search li {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  cursor: pointer;
}

.search li:hover {
  background-color: rgb(241, 171, 86);
}

.mainIcon {
  display: grid;
  place-content: center;
}

.mainIcon img {
  width: 150px;
}

#uvIcon {
  color: chartreuse;
}

#humidIcon {
  color: red;
}

#windIcon {
  color: darkgoldenrod;
}

.currentTemp,
.date {
  font-size: 2rem;
}

#cityName {
  font-weight: 100;
}

#location {
  font-size: 1.3rem;
}

#temp {
  font-size: 3rem;
  font-weight: 300;
}

.saved {
  display: flex;
  flex-direction: column;
}

#saveLoc,
#unit {
  height: 2.5rem;
  border: none;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveLoc {
  background-color: #28a745;
}

#unit {
  background-color: #007bff;
}

#loc {
  height: 3rem;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
}

#unit {
  margin-top: 1.5rem;
  height: 2.5rem;
  border: none;
}

#check {
  font-size: 1.2rem;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .futureDays {
    grid-row-start: 3;
    grid-column: span 3;
    /* flex-direction: row; */
  }
  .visibility {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .pressure {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .main {
    grid-row: span 1;
  }
  .dailyStats {
    grid-row: span 1;
  }
  .search ul {
    width: 200px;
    font-size: 0.5rem;
  }
  .currentTemp,
  .date {
    font-size: 1rem;
  }
  #temp {
    font-size: 1.5rem;
  }
}

.loaderWrapper {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color:inherit;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #000;
}
.loader::before {
  box-shadow: -26px 0;
  animation: l10-1 1.5s infinite linear;
}
.loader::after {
  transform: rotate(0deg) translateX(26px);
  animation: l10-2 1.5s infinite linear;
}
@keyframes l10-1 {
  50% {
    transform: translateX(26px);
  }
}
@keyframes l10-2 {
  100% {
    transform: rotate(-360deg) translateX(26px);
  }
}
